<html>
<head>
<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div  class="navbar navbar-fija-top" >
         <div  class ="navbar-interior" >
    <div  class = "contenedor de fluido" >      
      <div  class = "nav-colapso" >
        <ul  class = "nav" >
          <li  class = "activo" > <a  href = "#" > Home </a > </li >
          <li > <a  href = "# sobre" > Acerca de </a > </li >
          <li > <a  href = "# contact" > Contacto </a > </li >
 
         
 
             <li class="dropdown" id="menu1">
             <a class="dropdown-toggle" data-toggle="dropdown" href="">
               Login
                <b class="caret"></b>
             </a>
             <div class="dropdown-menu">
               <form style="margin: 0px" accept-charset="UTF-8" action="" method="post"><div style="margin:0;padding:0;display:inline"></div>
                 <fieldset class='textbox' style="padding:10px">
                   <input style="margin-top: 8px" type="text" placeholder="Username" />
                   <input style="margin-top: 8px" type="password" placeholder="Passsword" />
                   <input class="btn-primary" name="commit" type="submit" value="Log In" />
                 </fieldset>
               </form>
             </div>
           </li>
 
        </ ul >
      </ div >
    </ div >
  </ div >
</ div >
</body>
</html>